# Venv
.venv/
venv/
env/
ENV/
*.venv

# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info/
dist/
build/

# Testes
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Env
.env
.env.local
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db